.section-title {
    font-size: var(--h2-font-size);
    color: var(--title-color);
    text-align: center;
    margin-bottom: var(--mb-3);
}

@media screen and (min-width: 576px) {
    .section-title {
        text-align: initial;
    }
}
